.dog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50%;
  border-radius: 5px;
  border: 2px solid black;
}

.dogs-card {
  background-color: #FEFBF6;
  color: black;
  width: 30%;
  margin-bottom: 30px;
  border-radius: 5px;
  align-items: center;
  border: 2px solid black;
  box-shadow: -1px -1px 4px 0px rgba(0,0,0,0.34);
}
.dogs-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dogs-card-title {
  width: 100%;
  border-radius: 50px;
}

.text-center {
  color: #FEFBF6;
  padding: 10px;
}

.breeds-container {
  background-color: #035297b9;
  margin-top: 20px;
  margin-bottom: 20px ;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 200;
}

.card-link {
  text-decoration: none;
  color: inherit
}

.btn-dash {
  background-color: #E8630A;
  color: #ffffff;
  border-radius: 50px;
  padding: 5px 20px;
  margin-left: 10px;
  margin-right: 20px;
  text-decoration: none;
  height: 10%;
  align-self: flex-end;
}
