.dash-nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 200px;
  position: relative;
  border-bottom: solid 1px #16697A;
  background-image: url("wallpaper-paw.jpg");
  background-image: cover;
  background-image: center;
}

.row {
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  order: 1;
  width: 100%;
}

.profile-img {
  border-radius: 50%;
  border: 1px solid #16697A;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  margin-top: -60px;
}

.main-dash {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  width: 900px;
  height: 400px;
  overflow: auto;
  position: relative;
  padding-top: 80px;
}

.black-text {
  color: black;
}

.container-fluid {
  padding: 0;
  background-color: #16697A;
}

.btn-prof {
  background-color: #DB6400;
  color: #ffffff;
  border-radius: 50px;
  padding: 5px 20px;
  margin-left: 10px;
  margin-right: 20px;
  text-decoration: none;
  height: 10%;
}
.name {
  margin-bottom: 40px;
}

.list-unstyled {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 100px;;
}
