// Specific CSS for your home-page
body {
  min-height: 100vh;
}

.content-container {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-background {
  background-color: white;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: rgba(#000000, 0.5);
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 160px 240px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title .btn {
  width: 50%;
  border-radius: 50px;
  padding: 10px 0px;
  font-weight: bold;
}

.reviews {
  background-color: rgba(#000000, 0.5);
  margin-top: 100px;
  width: 800px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.banner-dog {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-explanation {
  background-image: url('explanation.png');
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
