.breed-card-container {
  width: 80%;
  max-width: 800px;
  background-color: rgba(#035297b9, 0.8);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 6px -6px rgba(61, 61, 61, 0.8);
}

.breed-image-title {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 40px;
}


.breed-picture {
  border-radius: 10px;
}


.breed-card {
  margin: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.breed-card {
  margin-left: 20px;
  margin-top: 0px;
}

.breed-show-container {
  width: 100%;
  background-image: url('paw-background.png');
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.breed-description {
  color: white;
  margin-bottom: 24px;
}

.breed-detail-image img {
  width: 100%;
  object-fit: cover;
  object-position: 50%;
  border-radius: 5px;
  border: 2px solid #16697A;
}
