<div class="map-container">
  <h1>Where can I find my Pawtner?</h1>

  <div class="map" style="width: 60%; height: 60vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-user-marker-value="<%= @user_marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
