<div class="container">
<div class="dogs-card m-4 text-center">
  <h1>It's a match!</h1>
  <h3>Browse through the list of your perfect Pawtners:</h3>
</div>
<div class="dogs-card-container">
    <% @breeds.each do |breed| %>
      <div class="dogs-card">
            <div class="dog-image">
              <%= image_tag(breed.picture) %>
            </div>
              <h5><%= breed.name %></h5>
              <%= breed.details %> <br>
              <%= breed.description %>
      </div>
    <% end %>
</div>
</div>
