<div class="breeds-container">
<div class="dogs-card-title m-2 text-center bolder">
  <h1>It's a match!</h1>
  <h3>Browse through the list of your perfect Pawtners:</h3>
</div>
<div class="dogs-card-container p-3">
    <% @breeds_array.each do |breed| %>
      <div class="dogs-card p-1">
        <div class="dog-image">
          <%= link_to breed_path(breed), class: "card-link" do %>
          <%= image_tag(breed.picture) %>
        </div>
        <div class="card-content">
          <h5 class="bold"><%= breed.name %></h5>
        </div>
      </div>
        <% end %>
    <% end %>
    <%= link_to "Return to dashboard", dashboard_path, class: "btn-dash" %>
  </div>
</div>
