<div class="footer rounded">
  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright text-center">
     Thank you for visiting FurreverFriends
  </div>
</div>
