<div class="banner-dog" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=asset_url("home_background.png") %>');">
  <div class="container-home-text text-center">
    <h1>FurrEverFriends: Find your Pawtner in crime!!</h1>
    <p>Determine which breed is best suited for you and live a happy life with your furryFriend!</p>
    <% if user_signed_in? %>
          <%# Redirect to the dashboard_path if the user is signed in %>
          <%= link_to "Take the Quiz", quizzes_path, class: 'btn' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: 'btn' %>
      <% end %>
  </div>
</div>

<div class="banner-explanation">

</div>
