
<div class="banner">
  <div class="banner-content text-center">
    <h1>FureverFriends: Find your Pawtner in crime!</h1>
    <p>Determine which breed is best suited for you and live a happy life with your furryFriend!</p>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn' %>
  </div>
</div>

<div class="banner-reviews">
  <div class="review-cards">
    <div class="card">
    <h3>Julia. K</h3>
    <p>Thanks to FurreverFriends, I’ve found Ollie, the best pawtner I could have imagine! </p>
    </div>
    <div class="card">
    <h3>Pedro. D</h3>
    <p>Thanks to FurreverFriends, I’ve found Ollie, the best pawtner I could have imagine! </p>
    </div>
    <div class="card">
    <h3>Arnaud. L</h3>
    <p>Thanks to FurreverFriends, I’ve found Ollie, the best pawtner I could have imagine! </p>
    </div>
  </div>
</div>
