.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #F8F1F1;
}

.footer-container {
  background-color: rgba(#16697A,0.8);
  border-top: solid 1px rgba(#16697A,0.8);
  color: #fff;
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a {
  color: white;
}
.footer-links a:hover {
  color: #FFA62B;
}
