.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer-container {
  background-color: #035397;
  color: #fff;
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #ccc;
}
