.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.btn {
  background-color: #E8630A;
  color: #ffffff;
  border-radius: 50px;
  padding: 5px 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.btn:hover {
  background-color: #E8630A;
  color: #ffffff;
  opacity: 0.7;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar {
  width: 100%;
  height: 100px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 2px solid rgba(#16697A, 0.5);
}

.navbar-container {
  background-color: white;
}
